<div class="quantity_changer">
    <span class="total_quantity" id="total_quantity">1</span>
    <span class="quantity_plus" style="cursor: pointer;" onclick="changeQuantity('plus')">+</span>
    <span class="quantity_minus" style="cursor: pointer;" onclick="changeQuantity('minus')">-</span>
</div>
<label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
<input type="hidden" id="Quantity-{{ section.id }}"
name="quantity" value="1" min="1" pattern="[0-9]*"
class="product-form__input product-form__input--quantity" data-quantity-input>